---
import ContentLayout from "@/layouts/ContentLayout.astro";
import H1 from "@/components/H1.astro";
import CategoryFilter from "@/components/CategoryFilter.astro";
import ArticleCard from "@/components/ArticleCard.astro";
import { getCollection } from "astro:content";

const articles = (await getCollection("articles"))
  .filter((article) => !article.data.isDraft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const categories = Array.from(
  new Set(articles.flatMap((article) => article.data.categories))
).sort();
---

<ContentLayout
  title="Blog - Hugo Charrade, Full-Stack Developer"
  description="Read the latest articles and insights from Hugo Charrade, a Full-Stack Developer specializing in building fast and scalable web applications."
>
  <H1>Blog</H1>

  <div class="space-y-4 sm:space-y-12 mt-4">
    <CategoryFilter categories={categories} basePath="/blog" />

    <ul class="space-y-6">
      {
        articles.map((article) => (
          <li>
            <ArticleCard article={article} />
          </li>
        ))
      }
    </ul>
  </div>
</ContentLayout>
