---
interface Props {
  categories: string[];
  currentCategory?: string;
  basePath: string;
}

const { categories, currentCategory, basePath } = Astro.props;
---

<div class="w-full overflow-x-auto scrollbar-hidden py-2">
  <ul class="flex items-center gap-4 min-w-max px-1">
    <li>
      <a
        href={basePath}
        class:list={[
          "w-fit px-4 py-1 text-sm bg-transparent rounded-full transition-all duration-300 ease-in-out",
          !currentCategory
            ? "text-white bg-zinc-100/20 outline outline-2 outline-offset-2 outline-zinc-100/20"
            : "text-zinc-400 hover:text-zinc-200",
        ]}
      >
        All
      </a>
    </li>
    {
      categories.map((category) => (
        <li>
          <a
            href={`${basePath}/category/${category}`}
            class:list={[
              "w-fit px-4 py-1 text-sm bg-transparent rounded-full transition-all duration-300 ease-in-out",
              category === currentCategory
                ? "text-white bg-zinc-100/20 outline outline-2 outline-offset-2 outline-zinc-100/20"
                : "text-zinc-400 hover:text-zinc-200",
            ]}
          >
            {category}
          </a>
        </li>
      ))
    }
  </ul>
</div>
