---
import type { Locale } from "@/lib/i18n";
import { useTranslations, getLocaleFromUrl } from "@/lib/i18n";

interface Props {
  className?: string;
  locale?: Locale;
}

const { className, locale = getLocaleFromUrl(Astro.url) } = Astro.props;
const t = useTranslations(locale);
---

<div class:list={["flex items-center gap-2", className]}>
  <span class="relative flex items-center justify-center size-3">
    <span
      class="absolute inline-flex h-full w-full animate-ping duration-1000 rounded-full bg-zinc-100 opacity-75"
    ></span>
    <span class="relative inline-flex size-2 rounded-full bg-zinc-100"></span>
  </span>
  <p class="text-zinc-300">{t.currentStatus.available}</p>
</div>
