---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Prose from "@/components/Prose.astro";
import Footer from "@/components/Footer.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { slug: project.id },
    props: project,
  }));
}

const project = Astro.props;
const { Content } = await render(project);
---

<BaseLayout
  title={`${project.data.title} - Hugo Charrade, Full-Stack Developer`}
  description={project.data.description}
>
  <main>
    <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
      <Prose>
        <Content />
      </Prose>
      <Footer />
    </div>
  </main>
</BaseLayout>
